<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<!-- Console Logging -->
		<target name="console" xsi:type="Console"
                layout="${longdate} | ${level:uppercase=true} | ${message} ${exception}" />

		<!-- File Logging (Absolute Path) -->
		<target name="file" xsi:type="File"
                fileName="E:\Address Clone\AddressBook_2115001102\Log.txt"
                layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception}"
                keepFileOpen="false"
                encoding="utf-8" />
	</targets>

	<rules>
		<!-- Log everything to file -->
		<logger name="*" minlevel="Info" writeTo="file" />
		<!-- Log warnings and errors to console -->
		<logger name="*" minlevel="Warn" writeTo="console" />
	</rules>
</nlog>
